* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background: #fffaf3;
  color: #333;
}

header {
    text-align: center;
}

.imagempudim {
    max-width: 500px;
    border-radius: 12px;
    margin: auto;
    display: block;
    align-items: center;
}

.section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.section h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #d35400;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.social-buttons {
  display: flex;
  justify-content: left;
  gap: 15px;
  flex-wrap: wrap;
}

.Instagram { background: #ffffff; }
.facebook { background: #3b5998; }
.whatsapp { background: #25d366; }

footer {
  background: #222;
  color: white;
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}